@font-face
{
font-family:"BrandonGrotesque";
src:url(../fonts/BrandonGrotesque-Regular.otf);
font-style:normal;
font-weight:normal;
}
@font-face
{
font-family:"BrandonGrotesque";
src:url(../fonts/BrandonGrotesque-RegularItalic.otf);
font-style:italic;
font-weight:normal;
}
@font-face
{
font-family:"BrandonGrotesque";
src:url(../fonts/BrandonGrotesque-Bold.otf);
font-style:normal;
font-weight:bold;
}
@font-face
{
font-family:"BrandonGrotesque-Medium";
src:url(../fonts/BrandonGrotesque-Medium.otf);
font-style:normal;
font-weight:bold;
}
@font-face
{
font-family:"EspritStd";
src:url(../fonts/EspritStd-Bold.ttf);
font-style:normal;
font-weight:bold;
}
@font-face
{
font-family:"EspritStd";
src:url(../fonts/EspritStd-Book.ttf);
font-style:normal;
font-weight:normal;
}
@font-face
{
font-family:"EspritStd";
src:url(../fonts/EspritStd-BookItalic.ttf);
font-style:italic;
font-weight:normal;
}
@font-face
{
font-family:"EspritStd-Medium";
src:url(../fonts/EspritStd-Medium.ttf);
font-style:normal;
font-weight:bold;
}
@font-face
{
font-family:"MinionPro";
src:url(../fonts/MinionPro-Regular.ttf);
font-style:normal;
font-weight:normal;
}
@font-face
{
font-family:"Gotham";
src:url(../fonts/Gotham-BookItalic.otf);
font-style:italic;
font-weight:normal;
}
@font-face
{
font-family:"Gotham";
src:url(../fonts/Gotham-Medium.otf);
font-style:normal;
font-weight:bold;
}
@font-face
{
font-family:"Gotham";
src:url(../fonts/Gotham-MediumItalic.otf);
font-style:italic;
font-weight:bold;
}
@font-face
{
font-family:"coordinates-Light";
src:url(../fonts/coordinates-Light.ttf);
font-style:normal;
font-weight:normal;
}


body
{
line-height: 115%;
margin-top: 0.4em;
margin-bottom: 0.4em;
margin-right:5pt;
margin-left:5pt;
}
a
{   
text-decoration:none;
color:inherit;
}
img
{
max-width:100%;
max-height:100%;
vertical-align: middle;	
}
sup
{
vertical-align:top;	
font-size:65%
}
small
{
font-size:75%;
}
table
{
page-break-inside:auto;
border-collapse: collapse;
margin-top:0em;
margin-bottom:0em;
width:100%;
}
td
{
vertical-align:top;
}
.hidden
{
display:none;
}
article, aside, figure, figcaption, footer, header, main, nav, section {
	display: block;
}     
figcaption {
	margin-top:0.5em;
}
figure {
	margin-left: auto;
	margin-right: auto;
	text-align:center;
	page-break-inside:avoid;
}
div.page-break
{
page-break-before:always;
}
.image
{
text-align:center;
margin-top:1em;
margin-bottom:1em;
}
.imaget
{
text-align:center;
margin-top:0em;
margin-bottom:0em;
}
.imagel
{
text-align:left;
margin-top:1em;
margin-bottom:0em;
}

.copy
{
font-family:"EspritStd";
font-size:0.85em;
text-align:left;
margin-top:0em;
margin-left:0em;
text-indent:0em;
margin-bottom:0em;
line-height: 1.3em;
}
.copy1
{
font-family:"EspritStd";
font-size:0.85em;
text-align:left;
margin-top:1em;
margin-left:0em;
text-indent:0em;
margin-bottom:0em;
line-height: 1.3em;
}
.cen1
{
font-family:"EspritStd";
font-size:1em;
text-align:center;
margin-top:1.2em;
margin-left:0em;
text-indent:0em;
margin-bottom:0em;
line-height: 1.3em;
}
.cen
{
font-family:"EspritStd";
font-size:0.9em;
text-align:center;
margin-top:0em;
margin-left:0em;
text-indent:0em;
margin-bottom:0em;
line-height: 1.3em;
}
.cenf
{
font-family:"BrandonGrotesque-Medium";
font-size:1.2em;
text-align:center;
margin-top:2em;
margin-left:0em;
text-indent:0em;
margin-bottom:2em;
line-height: 1.3em;
font-weight:bold;
}
.h2f
{
font-family:"EspritStd";
font-size:1.5em;
text-align:center;
margin-top:1.5em;
margin-left:0em;
text-indent:0em;
padding-bottom:1.5em;
line-height:1.3em;
font-style:normal;
font-weight:normal;
}
.toc
{
font-family:"CharisSIL";
font-size:1em;
text-align:left;
margin-top:0.2em;
margin-left:1.5em;
text-indent:-1.5em;
margin-bottom:0em;
line-height:1.3em;
font-weight:normal;
font-style:normal;
}
.tocp
{
font-family:"EspritStd-Medium";
font-size:0.9em;
text-align:center;
margin-top:1em;
margin-left:0em;
text-indent:0em;
margin-bottom:0.5em;
line-height:1.3em;
font-weight:bold;
font-style:normal;
}
.para1
{
font-family:"EspritStd";
font-size:1em;
text-align:justify;
margin-top:2em;
margin-left:0em;
text-indent:0em;
margin-bottom:0em;
line-height:1.3em;
font-weight:normal;
font-style:normal;
}
.indent-para
{
font-family:"EspritStd";
font-size:1em;
text-align:justify;
margin-top:0em;
margin-left:0em;
text-indent:1.5em;
margin-bottom:0em;
line-height:1.3em;
font-weight:normal;
font-style:normal;
}
.part
{
font-family:"EspritStd-Medium";
font-size:1.7em;
text-align:center;
margin-top:2em;
margin-left:0em;
text-indent:0em;
margin-bottom:0em;
line-height:1.3em;
font-style:normal;
font-weight:bold;
}
h2.chapter-no
{
font-family:"EspritStd";
font-size:1em;
text-align:center;
margin-top:1.5em;
margin-left:0em;
text-indent:0em;
margin-bottom:2em;
line-height:1.3em;
font-style:normal;
font-weight:normal;
}
h2.chapter-title
{
font-family:"EspritStd-Medium";
font-size:1.6em;
text-align:center;
margin-top:2.5em;
margin-left:0em;
text-indent:0em;
margin-bottom:2em;
line-height:1.3em;
font-style:normal;
font-weight:bold;
}
.numberq
{
font-family:"EspritStd";
font-size:1em;
text-align:left;
margin-top:1.5em;
margin-left:1.5em;
text-indent:-1.5em;
margin-bottom:1.2em;
line-height:1.3em;
font-weight:normal;
font-style:normal;
}
span.numq
{
font-weight:bold;
}
.alphaq
{
font-family:"EspritStd";
font-size:1em;
text-align:justify;
margin-top:0.2em;
margin-left:4em;
text-indent:0em;
margin-bottom:0em;
line-height:1.3em;
font-weight:normal;
font-style:normal;
}
.alphaq1
{
font-family:"EspritStd";
font-size:1em;
text-align:left;
margin-top:1em;
margin-left:4em;
text-indent:-1.5em;
margin-bottom:0em;
line-height:1.3em;
font-weight:normal;
font-style:normal;
}
.alphaq1a
{
font-family:"EspritStd";
font-size:1em;
text-align:left;
margin-top:1em;
margin-left:4em;
text-indent:-2em;
margin-bottom:0em;
line-height:1.3em;
font-weight:normal;
font-style:normal;
}
.cenq
{
font-family:"coordinates-Light";
font-size:1em;
text-align:center;
margin-top:0em;
margin-left:0em;
text-indent:0em;
margin-bottom:0em;
line-height: 1.3em;
}
.cenq1
{
font-family:"coordinates-Light";
font-size:1em;
text-align:center;
margin-top:1em;
margin-left:0em;
text-indent:0em;
margin-bottom:0em;
line-height: 1.3em;
}
.numberqt1
{
font-family:"EspritStd";
font-size:1em;
text-align:justify;
margin-top:1em;
margin-left:1.5em;
text-indent:0em;
margin-bottom:0em;
line-height:1.3em;
font-weight:normal;
font-style:normal;
}
.cenqt
{
font-family:"EspritStd";
font-size:1em;
text-align:center;
margin-top:0em;
margin-left:0em;
text-indent:0em;
margin-bottom:0em;
line-height: 1.3em;
}
.numberqi
{
font-family:"EspritStd";
font-size:1em;
text-align:justify;
margin-top:0em;
margin-left:1.5em;
text-indent:1.5em;
margin-bottom:0em;
line-height:1.3em;
font-weight:normal;
font-style:normal;
}
.numberq0
{
font-family:"EspritStd";
font-size:1em;
text-align:justify;
margin-top:1.5em;
margin-left:1.5em;
text-indent:0em;
margin-bottom:0em;
line-height:1.3em;
font-weight:normal;
font-style:normal;
}
.numberqti
{
font-family:"EspritStd";
font-size:1em;
text-align:left;
margin-top:0em;
margin-left:2.5em;
text-indent:0em;
margin-bottom:0em;
line-height:1.3em;
font-weight:normal;
font-style:normal;
}
.numberqtit
{
font-family:"EspritStd";
font-size:1em;
text-align:left;
margin-top:1em;
margin-left:2.5em;
text-indent:0em;
margin-bottom:0em;
line-height:1.3em;
font-weight:normal;
font-style:normal;
}
span.line
{
border-bottom:solid 1px #000000;
padding:1.5em;
}
span.cor
{
font-family:"coordinates-Light";
}
.imagea
{
text-align:center;
margin-top:1em;
margin-bottom:1em;
margin-left:2em;
}
.imageb
{
text-align:center;
margin-top:1em;
margin-bottom:1em;
}
.paraa
{
font-family:"EspritStd";
font-size:1em;
text-align:justify;
margin-top:0.8em;
margin-left:2em;
text-indent:0em;
margin-bottom:0em;
line-height:1.3em;
font-weight:normal;
font-style:normal;
}
.paraa1
{
font-family:"EspritStd";
font-size:1em;
text-align:justify;
margin-top:1em;
margin-left:1.5em;
text-indent:0em;
margin-bottom:0em;
line-height:1.3em;
font-weight:normal;
font-style:normal;
}
.paraa11
{
font-family:"EspritStd";
font-size:1em;
text-align:justify;
margin-top:1.5em;
margin-left:2em;
text-indent:0em;
margin-bottom:0.5em;
line-height:1.3em;
font-weight:normal;
font-style:normal;
}
.paraa111
{
font-family:"EspritStd";
font-size:1em;
text-align:justify;
margin-top:0.5em;
margin-left:2em;
text-indent:0em;
margin-bottom:0em;
line-height:1.3em;
font-weight:normal;
font-style:normal;
}
.paraa0
{
font-family:"EspritStd";
font-size:1em;
text-align:justify;
margin-top:0em;
margin-left:2em;
text-indent:0em;
margin-bottom:0em;
line-height:1.3em;
font-weight:normal;
font-style:normal;
}
h2.chapter-titlea
{
font-family:"EspritStd";
font-size:1.5em;
text-align:center;
margin-top:2em;
margin-left:0em;
text-indent:0em;
margin-bottom:0em;
line-height:1.3em;
font-style:normal;
font-weight:normal;
}
.numbera
{
font-family:"EspritStd";
font-size:1em;
text-align:left;
margin-top:1.5em;
margin-left:2em;
text-indent:-2em;
margin-bottom:0em;
line-height:1.3em;
font-weight:normal;
font-style:normal;
}
span.numa
{
font-family:"EspritStd-Medium";
font-weight:bold;
}
.numbera2
{
font-family:"EspritStd";
font-size:1em;
text-align:left;
margin-top:0.5em;
margin-left:1.5em;
text-indent:-.1.5em;
margin-bottom:0em;
line-height:1.3em;
font-weight:normal;
font-style:normal;
}
.alpha
{
font-family:"EspritStd";
font-size:1em;
text-align:left;
margin-top:0.2em;
margin-left:3.5em;
text-indent:-1.5em;
margin-bottom:0em;
line-height:1.3em;
font-weight:normal;
font-style:normal;
}
.alpha1
{
font-family:"EspritStd";
font-size:1em;
text-align:left;
margin-top:1em;
margin-left:3.5em;
text-indent:-1.5em;
margin-bottom:0em;
line-height:1.3em;
font-weight:normal;
font-style:normal;
}
.alpha0
{
font-family:"EspritStd";
font-size:1em;
text-align:left;
margin-top:0em;
margin-left:3em;
text-indent:-1.1em;
margin-bottom:0em;
line-height:1.3em;
font-weight:normal;
font-style:normal;
}
.alpha11
{
font-family:"EspritStd";
font-size:1em;
text-align:left;
margin-top:1em;
margin-left:3em;
text-indent:-1.1em;
margin-bottom:0em;
line-height:1.3em;
font-weight:normal;
font-style:normal;
}
.indent-paraa
{
font-family:"EspritStd";
font-size:1em;
text-align:justify;
margin-top:0em;
margin-left:2em;
text-indent:1.5em;
margin-bottom:0em;
line-height:1.3em;
font-weight:normal;
font-style:normal;
}
.numberw
{
font-family:"EspritStd";
font-size:1em;
text-align:justify;
margin-top:1em;
margin-left:3.6em;
text-indent:-3.6em;
margin-bottom:0em;
line-height:1.3em;
font-weight:normal;
font-style:normal;
}
.numberww
{
font-family:"EspritStd";
font-size:1em;
text-align:justify;
margin-top:1em;
margin-left:3em;
text-indent:-2.9em;
margin-bottom:0em;
line-height:1.3em;
font-weight:normal;
font-style:normal;
}
span.ft
{
font-family:"EspritStd-Medium";
font-weight:bold;
}
.h2bm
{
font-family:"BrandonGrotesque-Medium";
font-size:1.3em;
text-align:center;
margin-top:1.5em;
margin-left:0em;
text-indent:0em;
margin-bottom:0em;
line-height:1.3em;
font-style:normal;
font-weight:normal;
}
.paraz
{
font-family:"BrandonGrotesque";
font-size:1.1em;
text-align:center;
margin-top:1.5em;
margin-left:0em;
text-indent:0em;
margin-bottom:0em;
line-height:1.3em;
font-style:normal;
font-weight:bold;
}
.parazz
{
font-family:"BrandonGrotesque";
font-size:1.1em;
text-align:center;
margin-top:0em;
margin-left:0em;
text-indent:0em;
margin-bottom:1em;
line-height:1.3em;
font-style:normal;
font-weight:normal;
}
.paracc
{
font-family:"BrandonGrotesque-Medium";
font-size:1em;
text-align:center;
margin-top:1em;
margin-left:0em;
text-indent:0em;
margin-bottom:0em;
line-height:1.3em;
font-style:normal;
font-weight:bold;
}
.parac
{
font-family:"BrandonGrotesque";
font-size:1em;
text-align:center;
margin-top:0.7em;
margin-left:0em;
text-indent:0em;
margin-bottom:0em;
line-height:1.3em;
font-style:normal;
font-weight:normal;
}
.alphaj
{
font-family:"EspritStd";
font-size:1em;
text-align:left;
margin-top:0.2em;
margin-left:3em;
text-indent:-1.2em;
margin-bottom:0em;
line-height:1.3em;
font-weight:normal;
font-style:normal;
}
