@font-face
{
font-family:"Charis SIL";
font-weight:normal;
font-style:normal;
src:url(../fonts/CharisSILR.ttf);
}
@font-face
{
font-family:"Charis SIL";
font-weight:bold;
font-style:normal;
src:url(../fonts/CharisSILB.ttf);
}
@font-face
{
font-family:"Charis SIL";
font-weight:bold;
font-style:italic;
src:url(../fonts/CharisSILBI.ttf);
}
@font-face
{
font-family:"Charis SIL";
font-weight:normal;
font-style:italic;
src:url(../fonts/CharisSILI.ttf);
}
body
{
line-height: 115%;
margin-top: 0.4em;
margin-bottom: 0.4em;
margin-right:5pt;
margin-left:5pt;
}
a
{
text-decoration:none;
color:#000000;
}
img
{
max-width:100%;
max-height:100%;
vertical-align:middle;
}
sup
{
font-size:65%;
vertical-align:top;
line-height:1.5em;
}
sub
{
font-size:65%;
vertical-align:bottom;
line-height:1.5em;
}

.half
{
font-family:"Arial", sans-serif;
font-size:1.5em;
text-align:center;
margin-top:2.5em;
margin-left:0em;
text-indent:0em;
line-height:1.2em;
margin-bottom:0em;
}
.half1
{
font-family:"Arial", sans-serif;
font-size:1.5em;
text-align:center;
margin-top:0.5em;
margin-left:0em;
margin-right:0.3em;
text-indent:0em;
line-height:1.2em;
margin-bottom:0em;
}
.image
{
text-align:center;
margin-top:1em;
text-indent:0em;
margin-bottom:1em;
}
.copyright
{
font-family:"Charis SIL";
font-size:0.75em;
text-align:left;
margin-top:0em;
margin-left:0em;
text-indent:0em;
margin-bottom:0em;
font-weight:normal;
line-height:1.5em;
}
.copyright1
{
font-family:"Charis SIL";
font-size:0.75em;
text-align:left;
margin-top:0em;
margin-left:0em;
text-indent:0em;
margin-bottom:1.5em;
font-weight:normal;
line-height:1.5em;
}
.h2c
{
font-family:"Charis SIL";
font-size:1.7em;
line-height:1.3em;
text-align:center;
margin-top:2em;
text-indent:0em;
margin-bottom:0.5em;
font-weight:bold;
}
.toc
{
font-family:"Charis SIL";
font-size:1em;
text-align:left;
margin-top:0em;
margin-left:0em;
text-indent:0em;
line-height:1.5em;
margin-bottom:0.2em;
}
.toca
{
font-family:"Charis SIL";
font-size:1em;
text-align:left;
margin-top:0em;
margin-left:1em;
text-indent:-1em;
line-height:1.5em;
margin-bottom:0.2em;
}
.toca1
{
font-family:"Charis SIL";
font-size:1em;
text-align:left;
margin-top:0em;
margin-left:1em;
text-indent:-1em;
line-height:1.5em;
margin-bottom:1.2em;
}
.toc1
{
font-family:"Charis SIL";
font-size:1em;
text-align:left;
margin-top:0em;
margin-left:0em;
text-indent:0em;
line-height:1.5em;
margin-bottom:1.2em;
}
span.big
{
font-family:"Charis SIL";
font-size:280%;
margin-top:-.1em;
margin-bottom:-.5em;
float:left;
margin-left:0em;
margin-right:0.1em;
text-indent:0em;
line-height:1.2em;
}
.h2
{
font-family:"Charis SIL";
font-size:1.1em;
line-height:1.5em;
text-align:center;
margin-top:2em;
text-indent:0em;
margin-bottom:2.5em;
font-weight:normal;
}
.h2a
{
font-family:"Charis SIL";
font-size:1.7em;
line-height:1.5em;
text-align:center;
margin-top:0em;
text-indent:0em;
margin-bottom:0.5em;
font-weight:bold;
}
.center
{
font-family:"Charis SIL";
font-size:1em;
text-align:center;
margin-top:0em;
margin-left:0em;
margin-right:0em;
text-indent:0em;
line-height:1.3em;
margin-bottom:0.5em;
}
.para
{
font-family:"Charis SIL";
font-size:1em;
text-align:justify;
margin-top:0em;
margin-left:0em;
text-indent:0em;
line-height:1.5em;
margin-bottom:0em;
}
.para1
{
font-family:"Charis SIL";
font-size:1em;
text-align:justify;
margin-top:0em;
margin-left:0em;
text-indent:0em;
line-height:1.5em;
margin-bottom:1em;
}
.paral
{
font-family:"Charis SIL";
font-size:1em;
text-align:left;
margin-top:0em;
margin-left:0em;
text-indent:0em;
line-height:1.5em;
margin-bottom:0em;
}
.indent-para
{
font-family:"Charis SIL";
font-size:1em;
text-align:justify;
margin-top:0em;
margin-left:0em;
text-indent:1.5em;
line-height:1.5em;
margin-bottom:0em;
}
.indent-para1
{
font-family:"Charis SIL";
font-size:1em;
text-align:justify;
margin-top:0em;
margin-left:0em;
text-indent:1.5em;
line-height:1.5em;
margin-bottom:1em;
}
.blockquote
{
font-family:"Charis SIL";
text-align:justify;
margin-top:0em;
margin-left:2.5em;
margin-right:2.5em;
text-indent:0em;
margin-bottom:1em;
font-weight:normal;
line-height:1.5em;
}
.right
{
font-family:"Charis SIL";
font-size:1em;
text-align:right;
margin-top:0em;
margin-left:0em;
text-indent:0em;
line-height:1.5em;
margin-bottom:0em;
}
.rightx
{
font-family:"Charis SIL";
font-size:1em;
text-align:right;
margin-top:0em;
margin-left:0em;
text-indent:0em;
line-height:1.5em;
margin-bottom:1em;
}
.primary
{
font-family:"Charis SIL";
font-size:0.8em;
text-align:left;
margin-top:0em;
margin-left:2.5em;
text-indent:-2.5em;
line-height:1.3em;
margin-bottom:0em;
}
.primary1
{
font-family:"Charis SIL";
font-size:0.8em;
text-align:left;
margin-top:0em;
margin-left:2.5em;
text-indent:-2.5em;
line-height:1.3em;
margin-bottom:1.2em;
}
.primarya
{
font-family:"Charis SIL";
font-size:1em;
text-align:left;
margin-top:0em;
margin-left:2.5em;
text-indent:-2.5em;
line-height:1.3em;
margin-bottom:0.2em;
}
.secondary
{
font-family:"Charis SIL";
font-size:0.8em;
text-align:left;
margin-top:0em;
margin-left:2.2em;
text-indent:-1.2em;
line-height:1.3em;
margin-bottom:0em;
}
.secondary1
{
font-family:"Charis SIL";
font-size:0.8em;
text-align:left;
margin-top:0em;
margin-left:2.2em;
text-indent:-1.2em;
line-height:1.3em;
margin-bottom:1.2em;
}
.caption
{
font-family:"Charis SIL";
font-size:0.8em;
text-align:left;
margin-top:0em;
margin-left:0em;
text-indent:0em;
line-height:1.5em;
margin-bottom:1.2em;
}
.imaget
{
	font-size:1em;
	margin-top:0em;
	margin-bottom:0em;
	text-align:center;
}
.line
{
font-family:"Charis SIL";
font-size:1em;
border-bottom:1px solid #000000;
text-align:justify;
margin-top:0em;
margin-left:5em;
margin-right:5em;
text-indent:0em;
line-height:1.0em;
margin-bottom:2em;
}
.hang
{
font-family:"Charis SIL";
font-size:1em;
text-align:left;
margin-top:0em;
margin-left:1em;
text-indent:-1em;
line-height:1.3em;
margin-bottom:0em;
}
.hang1
{
font-family:"Charis SIL";
font-size:1em;
text-align:left;
margin-top:0em;
margin-left:1em;
text-indent:-1em;
line-height:1.3em;
margin-bottom:1.2em;
}
.bullet
{
font-family:"Charis SIL";
font-size:1em;
text-align:left;
margin-top:0em;
margin-left:1.05em;
text-indent:-1.05em;
line-height:1.3em;
margin-bottom:0em;
}
.bullet1
{
font-family:"Charis SIL";
font-size:1em;
text-align:left;
margin-top:0em;
margin-left:1.05em;
text-indent:-1.05em;
line-height:1.3em;
margin-bottom:1.2em;
}
div.page-break
{
	page-break-before:always;
}
