/* 下面是我自定义的全局变量 */
:root {
    --myGrayColor: rgb(240, 240, 240);
    /* 背景颜色 */
    --myGrayColor2: rgb(190, 190, 190);
    /*字体颜色*/
    --myFontSmallSize: 0.7em;
}



/* toc类, 专门用于将目录居左侧固定, 而不是固定在页面头部.
注意: 这个自定义类, 在网页预览时是不错的, 但在用chrome打印成 pdf时, 所有页面左侧也会有toc部分, 浪费空间.
 所以, 你在打印pdf时, 必须把这个自定义toc类, 去掉, 使用 asciidoc 自带默认的 toc 才行.*/
.toc {
    position: fixed;
    left: 0;
    top: 0;
    width: 250px; /* 目录栏宽度 */
    height: 100vh; /* 占满整个屏幕高度 */
    background: #f8f9fa;
    padding: 20px;
    overflow-y: auto;
    border-right: 1px solid #ddd;
}

/* sect1 是页面正文包含的所有内容, 即你编辑的所有图文内容部分. */
.sect1 {
    margin-left: 270px; /* 让内容从 TOC 右侧开始 */
    padding: 40px;
}



/* my1类, 专门用于单词高阶双解 */
.my1 {
    font-size: var(--myFontSmallSize);
    /* 设置my1类的 字号大小 */
    background-color: var(--myGrayColor);
    border-style: solid;
    border-color: var(--myGrayColor2);
    border-width: 1px;
    padding: 10px;
    margin-left: 20%;
}


/* my2类, 专门用于中文翻译参考 */
.my2 {
    font-size: var(--myFontSmallSize);
    /* 设置my1类的 字号大小 */
    color: var(--myGrayColor2);
    margin-block-start: -1.2em;
    margin-left: 20%;
}



/* my1类, 专门用于表格 */
.my3 {
    font-size: 12;
    /* 设置my1类的 字号大小 */
    background-color: var(--myGrayColor);
    border-style: solid;
    border-color: var(--myGrayColor2);
    border-width: 1px;
    padding: 10px;
    /* margin-left: 20%;*/
}

.myRed {
    color: white;
    /* 白色字体 */
    background-color: #e34838;
    /* 红色背景 */

}


/*斜体字*/
em {
    color: rgb(0, 0, 0);
    /* 白色字体 */
    background-color: #98beb47a;
    /* 红色背景 */
}



.underline {
    text-decoration: underline;
}

.title {
    border-top: dashed 1px var(--myGrayColor2);
    color: #2c38ba;
}

table {
    border-collapse: collapse;
}

table,
th,
td {
    border: 1px solid black;
    padding: 5px;
}

p {
    line-height: 150%;
}



/* 给文字加边框. 在asciidoc文件中, 写的时候要这样写: I [.boxed]#like# you */
.boxed {
  border: 1px solid #000;
  padding: 2px 2px;
  border-radius: 0px;
}