[{:block/name "++ my diary and values",
  :block/created-at 1642224072039,
  :block/updated-at 1642253784914}
 {:block/name "00 我的价值观架构, 认知库记录的基本原则",
  :block/created-at 1642253789090,
  :block/updated-at 1642253915400}
 {:block/name "01 roi 投资回报率",
  :block/created-at 1642224474013,
  :block/updated-at 1642224633764}
 {:block/name "02 人 - 谋事者_ 一个人如果懂得为什么去做(底层逻辑, 背后逻辑),那么他将永远是自己的主宰。",
  :block/created-at 1642236638230,
  :block/updated-at 1642236638230}
 {:block/name "03 反人性 - 工具人",
  :block/created-at 1642236638230,
  :block/updated-at 1642236638230}
 {:block/name "03-1 坏职业的特征",
  :block/created-at 1642236638230,
  :block/updated-at 1642236638230}
 {:block/name "03-2 好职业的特征",
  :block/created-at 1642236638230,
  :block/updated-at 1642236638230}
 {:block/name "04 判断 - 实践是检验_真理_(思想想法)真伪的唯一标准",
  :block/created-at 1642236638230,
  :block/updated-at 1642236638230}
 {:block/name "05 行;人生选择;策略 - 正确的行动态度_ 人生也就短短三万天, 无惧无畏, 不断向上",
  :block/created-at 1642236638230,
  :block/updated-at 1642236638230}
 {:block/name "06 思 - 人新的想法, 是看了其他东西后被刺激, 启发出来的.",
  :block/created-at 1642236638230,
  :block/updated-at 1642236638230}
 {:block/name "07 学 - 快速学习的方法",
  :block/created-at 1642236638230,
  :block/updated-at 1642236638230}
 {:block/name "08 概念是个框, 所以没有绝对的定义, 只有不同人赋予它的不同定义",
  :block/created-at 1642236638230,
  :block/updated-at 1642236638230}
 {:block/name "11 二八定律_ 成为头部, 才能收取最大利益",
  :block/created-at 1642236638230,
  :block/updated-at 1642253486887}
 {:block/name "_因然_ 与 _实然_的区分,  '信仰'和'真理'的区别",
  :block/created-at 1642231506519,
  :block/updated-at 1642231518016}
 {:block/name "_有用_比_绝对为真_更重要!",
  :block/created-at 1642231545513,
  :block/updated-at 1642231545513}
 {:block/name "a",
  :block/created-at 1642224014410,
  :block/updated-at 1642224014410}
 {:block/name "b",
  :block/created-at 1642224014410,
  :block/updated-at 1642224014410}
 {:block/name "c",
  :block/created-at 1642224014410,
  :block/updated-at 1642224014410}
 {:block/name "card",
  :block/created-at 1642236638230,
  :block/updated-at 1642236638230}
 {:block/name "contents",
  :block/created-at 1642236638230,
  :block/updated-at 1642236638230}
 {:block/name "doing",
  :block/created-at 1642224014410,
  :block/updated-at 1642224014410}
 {:block/name "done",
  :block/created-at 1642224014410,
  :block/updated-at 1642224014410}
 {:block/name "favorites",
  :block/created-at 1642236638230,
  :block/updated-at 1642236638230}
 {:block/name "important",
  :block/created-at 1642236638230,
  :block/updated-at 1642236638230}
 {:block/name "in-progress",
  :block/created-at 1642224014410,
  :block/updated-at 1642224014410}
 {:block/name "jan 15th, 2022",
  :block/created-at 1642221952640,
  :block/updated-at 1642223968036}
 {:block/name "later",
  :block/created-at 1642224014410,
  :block/updated-at 1642224014410}
 {:block/name "now",
  :block/created-at 1642224014410,
  :block/updated-at 1642224014410}
 {:block/name "todo",
  :block/created-at 1642224014410,
  :block/updated-at 1642224014410}
 {:block/name "wait",
  :block/created-at 1642224014410,
  :block/updated-at 1642224014410}
 {:block/name "waiting",
  :block/created-at 1642224014409,
  :block/updated-at 1642224014409}
 {:block/name
  "一旦选错职业,就像坐上了一辆开往远离你内心方向的火车, 并且随着这些工作职业要求越来越高,就离你心中的方向距离越来越远。",
  :block/created-at 1642249943686,
  :block/updated-at 1642250026039}
 {:block/name "不要去积累_你不想积累的经验_!!",
  :block/created-at 1642232238095,
  :block/updated-at 1642232288896}
 {:block/name "不要用实习生的认知, 来取代你的认知",
  :block/created-at 1642251696981,
  :block/updated-at 1642251706611}
 {:block/name "两者(两种工作)所处的_生态位_高低就不一样. 就决定了你_社会地位_的高低也不一样.",
  :block/created-at 1642227122426,
  :block/updated-at 1642227125533}
 {:block/name
  "人的精力和时间, 只会花在两种地方上_ 1.要么是第二曲线, 第三曲线, 思维模型的升级上;  2.要么是吃喝玩乐, 电脑游戏上面.",
  :block/created-at 1642233991042,
  :block/updated-at 1642234006334}
 {:block/name "任何职业, 早就被社会标好了它们的下限和上限. 它们在世人眼中的地位和价值.  职业即社会阶层",
  :block/created-at 1642226638188,
  :block/updated-at 1642227067914}
 {:block/name "你做任何一件事, 若没有兴趣支撑, 你就度过不了它最艰难的时间段",
  :block/created-at 1642249795662,
  :block/updated-at 1642249807452}
 {:block/name "你吸引人不是最终目的,而是实现你进化目的的手段(诱饵、催化剂)",
  :block/created-at 1642233458389,
  :block/updated-at 1642233557498}
 {:block/name "你所做的事,都只是暂时的。你要利用他们来进入下一个你想去的环节. 前一个目标对你只不过是敲门砖而已.",
  :block/created-at 1642234325865,
  :block/updated-at 1642234329065}
 {:block/name "你越逃避学习复杂专业有难度的学科专业,你也就越把自己推入底层茫茫人海中的,没有门槛.",
  :block/created-at 1642229680061,
  :block/updated-at 1642229740135}
 {:block/name
  "借助_钱_的势能 _你的首要任务就是拼项目、签合同,你首先要想尽办法给公司挣钱,而不是只考虑替公司省钱,不能舍本逐末",
  :block/created-at 1642233746495,
  :block/updated-at 1642233752868}
 {:block/name "兴趣分两种,一种是对技术类产生兴趣, 一种是对事业类产生兴趣",
  :block/created-at 1642225362429,
  :block/updated-at 1642225370426}
 {:block/name "兵闻拙速,未睹巧之久也",
  :block/created-at 1642232135441,
  :block/updated-at 1642232159633}
 {:block/name "其经验能用在日常生活中.",
  :block/created-at 1642231311685,
  :block/updated-at 1642231321089}
 {:block/name "别穿得跟你想表达自己的意思相矛盾或不符合 (_借势, 势是一种能量_)",
  :block/created-at 1642233693383,
  :block/updated-at 1642233713208}
 {:block/name "受启发 _ 人新的想法, 是看了其他东西后被刺激, 启发出来的.",
  :block/created-at 1642251747907,
  :block/updated-at 1642252243856}
 {:block/name "国家职业资格证书, _准入类_, 与_水平评价类_ 区别",
  :block/created-at 1642230057338,
  :block/updated-at 1642230375083}
 {:block/name "复盘 _ 要不断的复盘, 要不断地分析自己工作的流程,改善流程",
  :block/created-at 1642253179460,
  :block/updated-at 1642253271236}
 {:block/name "女性应该利用自己的女性资本, 取得对自己有利的结果。",
  :block/created-at 1642233652914,
  :block/updated-at 1642233662684}
 {:block/name "如何判断自己是否适合一份职业_",
  :block/created-at 1642249831846,
  :block/updated-at 1642249845640}
 {:block/name "学习与专业化, 相关的古人云",
  :block/created-at 1642253335822,
  :block/updated-at 1642253376839}
 {:block/name "实践与想象, 相关的古人云",
  :block/created-at 1642231738402,
  :block/updated-at 1642231741522}
 {:block/name "对新生事物, 你就有机会去定义它, 来塑造它的未来样子. (正如对婴儿)",
  :block/created-at 1642253425846,
  :block/updated-at 1642253447485}
 {:block/name
  "工具人的价值上限 -_ _工具人_的最高价值, 也不会超过该_工具_所能给你带来的_上限功能_所值的价值本身. ",
  :block/created-at 1642236638230,
  :block/updated-at 1642236638230}
 {:block/name "工具人的价值上限_ _工具人_的最高价值, 也不会超过该_工具_所能给你带来的_上限功能_所值的价值本身",
  :block/created-at 1642253999303,
  :block/updated-at 1642253999303}
 {:block/name "工具人的命运 -_ 职业病",
  :block/created-at 1642236638230,
  :block/updated-at 1642236638230}
 {:block/name "工具人的命运 -_ 被 ai 取代",
  :block/created-at 1642227225908,
  :block/updated-at 1642227319935}
 {:block/name "工具人的命运 -_ 被困在原路径里面",
  :block/created-at 1642236638230,
  :block/updated-at 1642236638230}
 {:block/name "工具人的命运_ 职业病",
  :block/created-at 1642227349036,
  :block/updated-at 1642227349774}
 {:block/name "工具人的命运_ 被困在原路径里面",
  :block/created-at 1642227686930,
  :block/updated-at 1642227746127}
 {:block/name "工具人的命运和归宿 -_ 变成某事者手中的工具",
  :block/created-at 1642236638230,
  :block/updated-at 1642236638230}
 {:block/name "工具人的命运和归宿_ 变成某事者手中的工具",
  :block/created-at 1642227384438,
  :block/updated-at 1642227518123}
 {:block/name "工具人的损失 -_ 丧失发展头脑的宝贵机会",
  :block/created-at 1642227840744,
  :block/updated-at 1642228029840}
 {:block/name "工具人的损失 -_ 没对收入进行_风险分散_",
  :block/created-at 1642228958454,
  :block/updated-at 1642229023511}
 {:block/name "工具人的损失 -_ 缺乏意义感",
  :block/created-at 1642228613198,
  :block/updated-at 1642228730083}
 {:block/name "工具比人低 _ 工具创造出来就是给人用的, 所以不存在_高级_或_门槛_这种东西的.",
  :block/created-at 1642235739260,
  :block/updated-at 1642235766789}
 {:block/name "思考「如何使工作对我有意义」,比死磕「我的工作有什么意义」更有意义。",
  :block/created-at 1642252998372,
  :block/updated-at 1642253025407}
 {:block/name "所有的工作都能赚钱,很多工作也能赚大钱,但工作内容的性质带给你思想头脑上的回报, 就有本质区别了",
  :block/created-at 1642225900894,
  :block/updated-at 1642226141618}
 {:block/name "把案例学习当哑铃, 你的目的不是哑铃, 而是锻炼你肌肉(大脑思维认知)",
  :block/created-at 1642253152396,
  :block/updated-at 1642253153172}
 {:block/name "改变思维方式,从另外一个角度思考问题。",
  :block/created-at 1642252940390,
  :block/updated-at 1642252973839}
 {:block/name "时间只分为两种性质_ 或花在_上岸行动_上, 或花在_对上岸没有帮助的行为_上.",
  :block/created-at 1642233930399,
  :block/updated-at 1642234088999}
 {:block/name "时间花在什么上_ _ 非_上岸_的行动, 都是幻觉",
  :block/created-at 1642233875549,
  :block/updated-at 1642233902338}
 {:block/name
  "最开始,大家都只有微弱的差距,似乎在一条起跑线上. 但随着时间的推移,从业年份的增长,成功概率越来越显示出它的力量!",
  :block/created-at 1642227597221,
  :block/updated-at 1642227615417}
 {:block/name "有两种人 _ 1.谋事的,  2.成为工具人的",
  :block/created-at 1642224832745,
  :block/updated-at 1642225239515}
 {:block/name "死早超生. 如果要走完十万八千里后, 才能有获得真经思想的质变, 那你就要把这段路径压缩在最短的时间内走完!",
  :block/created-at 1642232187018,
  :block/updated-at 1642232205364}
 {:block/name "每天思考 _ 3+3+3句 _ 每天脑子里都在想什么?关注什么?策略什么?解决什么?",
  :block/created-at 1642236638230,
  :block/updated-at 1642236638230}
 {:block/name "每天思考 _ 3+3+3句 _ 每天脑子里都在想什么_关注什么_策略什么_解决什么_",
  :block/created-at 1642226185112,
  :block/updated-at 1642226250149}
 {:block/name "没有门槛. 没有门槛的事, 恰恰是门槛最大的事. 因为没有门槛就没有护城河",
  :block/created-at 1642229553228,
  :block/updated-at 1642229627377}
 {:block/name
  "消费者购买某产品, 必定要通过_用户之旅_的全过程. 所以不能让负责最前端内容推广的公关人, 直接承诺最后一个环节的销售成果.",
  :block/created-at 1642235013737,
  :block/updated-at 1642235142475}
 {:block/name "演进 _ 你的_认知_, 需要随时间, 事态的变化, 而不断_演进_.",
  :block/created-at 1642252335462,
  :block/updated-at 1642252335477}
 {:block/name "现在人满为患是真,但门槛也更高了",
  :block/created-at 1642234047298,
  :block/updated-at 1642234062674}
 {:block/name "生活中,你真正要做的,是从头到尾,一个人掌握那种可以产生现金流的技能和产品.",
  :block/created-at 1642234942609,
  :block/updated-at 1642234944053}
 {:block/name "目标要明确, 要有完成的时间计划, 不能永无结束之日",
  :block/created-at 1642253999303,
  :block/updated-at 1642253999303}
 {:block/name "目标要明确, 要有完成的时间计划, 不能永无结束之日.",
  :block/created-at 1642231796184,
  :block/updated-at 1642231921868}
 {:block/name "知识学而不用, 与实践结合太弱, 缺乏明确反馈,  会令你无法很好的检验它的真伪与否.",
  :block/created-at 1642231577307,
  :block/updated-at 1642231669938}
 {:block/name "社会一直有需求,但是又无利润的工作,自然就要制造各种舆论谎言,不断的让人入坑.",
  :block/created-at 1642236638230,
  :block/updated-at 1642236638230}
 {:block/name "社会一直有需求,但是又无利润的工作,自然就要制造各种舆论谎言,不断的让人入坑。",
  :block/created-at 1642229402958,
  :block/updated-at 1642229402958}
 {:block/name "网上公开能学到的教程,都没有门槛和护城河. 网上学不到的,才有真正门槛",
  :block/created-at 1642229880944,
  :block/updated-at 1642229901783}
 {:block/name "职业证书, 即是护城河. 因为这个证书能限制新人进入该领域的速度",
  :block/created-at 1642229931263,
  :block/updated-at 1642229986299}
 {:block/name "职位的边界比人的才能小 _ 你的职位高低本身受到的约束, 会限制你能力的发挥, 和视野的升级",
  :block/created-at 1642250638746,
  :block/updated-at 1642251564267}
 {:block/name "能让你当别人的大脑! 而不是别人当你的大脑",
  :block/created-at 1642230959945,
  :block/updated-at 1642231130489}
 {:block/name "自带磁场价值效应(刚需)",
  :block/created-at 1642230915159,
  :block/updated-at 1642230934241}
 {:block/name "自律带来自信, 自信带来自由",
  :block/created-at 1642235822100,
  :block/updated-at 1642235832640}
 {:block/name "要做树枝, 不要做树叶 _ 要当树枝, 能复制大树的成长. 而不要当树叶! 不要_替他人做嫁衣裳_",
  :block/created-at 1642234785886,
  :block/updated-at 1642234960204}
 {:block/name "认知,几乎是人和人之间唯一的本质差别。人是会思考的芦苇.",
  :block/created-at 1642225534523,
  :block/updated-at 1642225779974}
 {:block/name "认知上的学习, 作用只是启发你小步登台阶, 不要妄想它能令你一步改变命运",
  :block/created-at 1642252534183,
  :block/updated-at 1642252540140}
 {:block/name "记住_ 你不是来这里度假的!每天都要在心中牢记三个问题",
  :block/created-at 1642231974132,
  :block/updated-at 1642232598064}
 {:block/name "赛道抬人 _ 每一个赛场对于你是否_普通_或者_别致_的判断,都有不同的判定标准。",
  :block/created-at 1642250119333,
  :block/updated-at 1642250518235}
 {:block/name "越是巨坑的陷阱入口处, 都铺满了最诱人进来的鲜花",
  :block/created-at 1642229098305,
  :block/updated-at 1642229477612}
 {:block/name "越有清晰明确的反馈的, 发展的越快.",
  :block/created-at 1642231637677,
  :block/updated-at 1642231638658}
 {:block/name "进入是为了离开_ 进入现在这个阶段, 是为了得到进入下一个阶段的敲门砖",
  :block/created-at 1642234206208, 
  :block/updated-at 1642234293148}]
