[{:block/name "04 判断 - 实践是检验_真理_(思想想法)真伪的唯一标准",
  :block/created-at 1642668308765,
  :block/updated-at 1642668308765}
 {:block/name "11 二八定律_ 成为头部, 才能收取最大利益",
  :block/created-at 1642668308766,
  :block/updated-at 1642668308766}
 {:block/name "264c9b",
  :block/created-at 1642668308764,
  :block/updated-at 1642668308764}
 {:block/name "99_=0, 你离上岸还差1_的分数, 就是等于没上岸!",
  :block/created-at 1642668308765,
  :block/updated-at 1642668308765}
 {:block/name
  "_可实践的方法论(跑在第一步, 第二步...上)_, 比_只鼓励你_的内容(你永远只在起跑线之前准备着), 要更重要, 更有价值!",
  :block/created-at 1642668308766,
  :block/updated-at 1642668308766}
 {:block/name "_因然_ 与 _实然_的区分,  '信仰'和'真理'的区别",
  :block/created-at 1642668308765,
  :block/updated-at 1642668308765}
 {:block/name "_定性_毫无用处,_定量_才能拯救你。",
  :block/created-at 1642668308765,
  :block/updated-at 1642668308765}
 {:block/name "_有用_比_绝对为真_更重要!",
  :block/created-at 1642668308766,
  :block/updated-at 1642668308766}
 {:block/name "a",
  :block/created-at 1642224014410,
  :block/updated-at 1642224014410}
 {:block/name "b",
  :block/created-at 1642224014410,
  :block/updated-at 1642224014410}
 {:block/name "c",
  :block/created-at 1642224014410,
  :block/updated-at 1642224014410}
 {:block/name "card",
  :block/created-at 1642668308766,
  :block/updated-at 1642668308766}
 {:block/name "contents",
  :block/created-at 1645774683529,
  :block/updated-at 1645774683529}
 {:block/name "dir 200. 战略",
  :block/created-at 1643418351724,
  :block/updated-at 1643421262157}
 {:block/name "dir 21. 思考,判断,行动,策略",
  :block/created-at 1643001404762,
  :block/updated-at 1643252481699}
 {:block/name "dir 22. 人生,政治",
  :block/created-at 1643001183990,
  :block/updated-at 1644567879525}
 {:block/name "dir 23. 快速学习",
  :block/created-at 1643001324387,
  :block/updated-at 1643175063989}
 {:block/name "dir 24. 人生定律",
  :block/created-at 1643001131182,
  :block/updated-at 1643001378793}
 {:block/name "dir 25. 真理,科研",
  :block/created-at 1643172487241,
  :block/updated-at 1643173812963}
 {:block/name "dir 26.辩论,说服,演讲",
  :block/created-at 1643164108081,
  :block/updated-at 1643172321712}
 {:block/name "dir 27",
  :block/created-at 1645774683529,
  :block/updated-at 1645774683529}
 {:block/name "dir 27. 写作, 艺术",
  :block/created-at 1643164968061,
  :block/updated-at 1643165042997}
 {:block/name "dir 409. 孩子教育",
  :block/created-at 1643003573154,
  :block/updated-at 1643004002445}
 {:block/name "dir 81. 经济,金融",
  :block/created-at 1643183733418,
  :block/updated-at 1643183799123}
 {:block/name "dir_00. ++ principles",
  :block/created-at 1643165157455,
  :block/updated-at 1643183594649}
 {:block/name "dir_10. main",
  :block/created-at 1642729145948,
  :block/updated-at 1643418346613}
 {:block/name
  "dir_1推定,2举证责任。推定某事实对的,与它是否在科学上的确为_真_,并没有必然关系,我们之所以支持它,是因为迄今没有证据让我们不支持它。",
  :block/created-at 1643166702279,
  :block/updated-at 1643173580279}
 {:block/name "dir_20. roi, 谋事者, 工具人, 职业的好坏鸿沟",
  :block/created-at 1642727330761,
  :block/updated-at 1643418241762}
 {:block/name "dir_30. 心理学, 情感, 人性, 性格分析",
  :block/created-at 1642728565928,
  :block/updated-at 1643259608266}
 {:block/name "dir_400. 社保, 养老",
  :block/created-at 1642741868668,
  :block/updated-at 1642742148652}
 {:block/name "dir_403. 健康,医学",
  :block/created-at 1645774683528,
  :block/updated-at 1645774683528}
 {:block/name "dir_404. 缴税,税收",
  :block/created-at 1643247222342,
  :block/updated-at 1643248077196}
 {:block/name "dir_405. 买房, 物业",
  :block/created-at 1645774683528,
  :block/updated-at 1645774683528}
 {:block/name "dir_407. 法律,官司",
  :block/created-at 1643250794977,
  :block/updated-at 1643251011979}
 {:block/name
  "dir_★ 画面设计上, 是没有内涵的, 你被花花绿绿的画面吸引一天, 看过即忘, 头脑依然会空空. 而你看一天书, 真的是有一天思想收获的! (有精神食粮感)",
  :block/created-at 1645774683528,
  :block/updated-at 1645774683528}
 {:block/name "dir_一旦选错职业,就像坐上了开往_远离你内心向往方向_的火车.",
  :block/created-at 1642668308766,
  :block/updated-at 1642668308766}
 {:block/name "dir_不懂得如何让别人为自己做事,等于不懂得如何在乱世中生存。(曹操, 刘备)",
  :block/created-at 1642993578906,
  :block/updated-at 1642993578968}
 {:block/name
  "dir_不是所有的失败都是成功之母,那些_有价值_的失败, 它们必须具备3个前提条件_ 1. 标准化(有清晰固定的评判标准), 2.可重复,可复现, 可复盘. 3.损失是可控的.",
  :block/created-at 1645774683529,
  :block/updated-at 1645774683529}
 {:block/name
  "dir_不管是什么投资,只有在'风险'和'收益'配比的情况下('高风险'应该给你带来'高收益'),才会有人去玩。",
  :block/created-at 1645774683528,
  :block/updated-at 1645774683528}
 {:block/name "dir_不要让他人形成对你不该有的条件反射",
  :block/created-at 1642993421329,
  :block/updated-at 1643246059007}
 {:block/name "dir_丧失发展头脑的宝贵机会",
  :block/created-at 1645774683528,
  :block/updated-at 1645774683528}
 {:block/name "dir_人性-古人云",
  :block/created-at 1643176947409,
  :block/updated-at 1643176947409}
 {:block/name
  "dir_人最怕的是没有个性。没有个性,你就只能做别人的影子或者传声筒。都不用说你的优势在哪里了,你的差异性都没有了,客户怎么会选择你?",
  :block/created-at 1645774683528,
  :block/updated-at 1645774683528}
 {:block/name
  "dir_人最怕的是没有个性。没有个性,你就只能做别人的影子或者传声筒。都不用说你的优势在哪里了,你的差异性都没有了,客户怎么会选择你_",
  :block/created-at 1643163280667,
  :block/updated-at 1643163468353}
 {:block/name "dir_人生的任务, 是要去解决更多的问题,而不是只盯着一两个问题解决到最好(所以不要去追求完美的方法).",
  :block/created-at 1642668308766,
  :block/updated-at 1642731698889}
 {:block/name "dir_人的想法, 是需要受刺激, 而启发出来的.",
  :block/created-at 1645774683529,
  :block/updated-at 1645774683529}
 {:block/name "dir_什么样的人更容易获得权力_",
  :block/created-at 1643006839077,
  :block/updated-at 1643007138789}
 {:block/name "dir_以终为始",
  :block/created-at 1643421286407,
  :block/updated-at 1643421490210}
 {:block/name "dir_任何职业, 早就被社会标好了它们的下限和上限. 它们在世人眼中的地位和价值.  职业即社会阶层",
  :block/created-at 1643184053950,
  :block/updated-at 1643184103469}
 {:block/name "dir_你的职位高低本身受到的约束, 会限制你能力的发挥",
  :block/created-at 1645774683528,
  :block/updated-at 1645774683528}
 {:block/name "dir_借势前进",
  :block/created-at 1643182554602,
  :block/updated-at 1643253168149}
 {:block/name "dir_加薪代表着自信",
  :block/created-at 1642993366066,
  :block/updated-at 1642993377832}
 {:block/name "dir_变成某事者手中的工具",
  :block/created-at 1642993635312,
  :block/updated-at 1642993635446}
 {:block/name "dir_向死而生",
  :block/created-at 1645774683528,
  :block/updated-at 1645774683528}
 {:block/name "dir_向死而生3",
  :block/created-at 1642993214139,
  :block/updated-at 1642993214796}
 {:block/name "dir_商战",
  :block/created-at 1645774683529,
  :block/updated-at 1645774683529}
 {:block/name "dir_在“人际辩论”中,辩论者中的一方往往也自认为是辩论胜负的裁决者,“球员兼裁判”的情况很常见。",
  :block/created-at 1643166138024,
  :block/updated-at 1643166643774}
 {:block/name "dir_在公共舆论上, 少数人密集持有的_激情观点_, 能够抵消大量冷漠的人的_温和,无所谓态度的观点_",
  :block/created-at 1643161977727,
  :block/updated-at 1643162141341}
 {:block/name
  "dir_多数辩题都是正反皆言之成理的, 目的就是为了达成训练“批判思考”(critical thinking)。",
  :block/created-at 1643171694546,
  :block/updated-at 1643171723475}
 {:block/name
  "dir_大家都有矛盾,但是这个矛盾都有化解的可能,只要我确保你们之间的矛盾大于你们和我之间的矛盾,你们就会永远争取我的支持。",
  :block/created-at 1642999847260,
  :block/updated-at 1642999847343}
 {:block/name "dir_天下大势,归根到底其实就取决于_关键人的关键认知_",
  :block/created-at 1645774683529,
  :block/updated-at 1645774683529}
 {:block/name "dir_如何限制权力?最好的办法就是分散权力。",
  :block/created-at 1645774683529,
  :block/updated-at 1645774683529}
 {:block/name "dir_如何限制权力_最好的办法就是分散权力。",
  :block/created-at 1643072688941,
  :block/updated-at 1643072820934}
 {:block/name
  "dir_如果一个人的“真实自我”经常遭受否定和打压,就会造成其对_原生自我_的怀疑。(所以, 不断晋升做大的人, 自由权力越大, 自我信心也越强)",
  :block/created-at 1643159093942,
  :block/updated-at 1643159395647}
 {:block/name "dir_完成任务要有截止时间计划, 不能永无结束之日.",
  :block/created-at 1642738100222,
  :block/updated-at 1643257068078}
 {:block/name "dir_对重大利益回报的 _生态位_的抢坑竞争, 是你死我活的. 你不能把这个世界,让给你所鄙视的人",
  :block/created-at 1642993836825,
  :block/updated-at 1643182082142}
 {:block/name "dir_必须先建立情感, 然后才有可能说服对方.",
  :block/created-at 1642993488988,
  :block/updated-at 1642993489045}
 {:block/name "dir_情感-古人云",
  :block/created-at 1643176977476,
  :block/updated-at 1643176977476}
 {:block/name
  "dir_抓住机会尤为重要。主管经理很少会有时间仔细地考察每个申请职位的人,他们更不会去说服沉默谨慎的人申请职位。",
  :block/created-at 1642994393847,
  :block/updated-at 1642994549406}
 {:block/name "dir_抽象的东西,需要借用日常比喻, 来转为更容易_理解和记忆_的形式.",
  :block/created-at 1643175066351,
  :block/updated-at 1643175328821}
 {:block/name "dir_拒绝,是你表达自己职业意愿的一个机会。",
  :block/created-at 1642993311950,
  :block/updated-at 1642993312097}
 {:block/name "dir_政治-古人云",
  :block/created-at 1643259690959,
  :block/updated-at 1643260075672}
 {:block/name "dir_政治里面有很多非常高层次的需求",
  :block/created-at 1642999906107,
  :block/updated-at 1642999906219}
 {:block/name "dir_无关的话题,故事,不要在会议上说,不要浪费大家时间.",
  :block/created-at 1643164172111,
  :block/updated-at 1643164332613}
 {:block/name "dir_星星之火,可以燎原",
  :block/created-at 1645774683528,
  :block/updated-at 1645774683528}
 {:block/name "dir_最重要和关键的是,前进是一步步做出来的 (想想唐僧取经)",
  :block/created-at 1645774683528,
  :block/updated-at 1645774683528}
 {:block/name
  "dir_根据_消费者体验的心理动线_, 要以消费者体验的六个关键时刻(场景)为切入点(感知→接触→触动→行动→消费→分享), 来设计场景和布局内容",
  :block/created-at 1645774683528,
  :block/updated-at 1645774683528}
 {:block/name "dir_概念是个框, 所以没有绝对的定义, 只有不同人赋予它的不同定义",
  :block/created-at 1643160008622,
  :block/updated-at 1643177350195}
 {:block/name "dir_每一个赛场对于你是否'普通'或者'别致'的判断,都有不同的判定标准",
  :block/created-at 1645774683528,
  :block/updated-at 1645774683528}
 {:block/name "dir_永远不要停下来! 不要站在原地哭,即使哭泣,也要在移动中哭泣。",
  :block/created-at 1645774683528,
  :block/updated-at 1645774683528}
 {:block/name "dir_没有门槛, 恰恰是最大的门槛. 因为没有门槛就没有护城河, 直接就会变成红海内卷.",
  :block/created-at 1643184009828,
  :block/updated-at 1643184445294}
 {:block/name
  "dir_洞悉错觉(transparency illusion)-- 事实上, “被误解”才是世间常态,“你懂我”的几率则像中彩。",
  :block/created-at 1642993531099,
  :block/updated-at 1642993531171}
 {:block/name "dir_混沌系统分成两级 _ 1.“不会因为预测而改变”, 2.“会受到预测的影响而改变”",
  :block/created-at 1643173820144,
  :block/updated-at 1643173868273}
 {:block/name
  "dir_现代科学, 与先前的知识体系, 有三大不同之处_ 1.愿意承认自己的无知。2.以观察和数学为中心。3.运用理论来取得新能力。",
  :block/created-at 1643173688301,
  :block/updated-at 1643173736870}
 {:block/name "dir_生物里最好的学习方式是看动画!因为往往文字讲不清楚太多物质之间的_动力学关系_",
  :block/created-at 1643174714030,
  :block/updated-at 1643174892711}
 {:block/name "dir_电影方法论",
  :block/created-at 1644648506942,
  :block/updated-at 1644654291182}
 {:block/name
  "dir_真正能跨越时间而_保值_的东西, 是内容本身, 而不是视频的拍摄与剪辑技巧! 现在_炫技_大于_内容价值内涵_的视频(金玉其外败,絮其中), 到未来时, 即没有内涵, 所炫的技(包括特效等)也会_过时_.  什么都没留下来.",
  :block/created-at 1642668308764,
  :block/updated-at 1642668308764}
 {:block/name "dir_知识付费中诈骗的一种方式, 就是把很普通的_概念_包装成一种_定理_",
  :block/created-at 1643252484245,
  :block/updated-at 1643252884131}
 {:block/name "dir_破局点",
  :block/created-at 1645774683529,
  :block/updated-at 1645774683529}
 {:block/name "dir_社交中最常见的三种恐惧",
  :block/created-at 1642747208707,
  :block/updated-at 1642748139168}
 {:block/name "dir_立即行动的原因",
  :block/created-at 1642999262282,
  :block/updated-at 1642999292319}
 {:block/name "dir_脱口秀行业有一句话:一个人摔跤的时候是可笑的,但是当一个人摔出血了就不好笑了。",
  :block/created-at 1645774683528,
  :block/updated-at 1645774683528}
 {:block/name "dir_脱口秀行业有一句话_一个人摔跤的时候是可笑的,但是当一个人摔出血了就不好笑了。",
  :block/created-at 1643164436450,
  :block/updated-at 1643164436535}
 {:block/name "dir_营销分析框架",
  :block/created-at 1645774683529,
  :block/updated-at 1645774683529}
 {:block/name
  "dir_要清楚你做这个报告的目的是什么. — 你是想得到什么样的资源支持?还是为了展示阶段性的工作成果? 还是为了讨论具体问题?",
  :block/created-at 1645774683528,
  :block/updated-at 1645774683528}
 {:block/name
  "dir_要清楚你做这个报告的目的是什么. — 你是想得到什么样的资源支持_还是为了展示阶段性的工作成果_ 还是为了讨论具体问题_",
  :block/created-at 1643164535398,
  :block/updated-at 1643164638595}
 {:block/name "dir_视频内容平台, 赚钱方式, 与遇到的问题",
  :block/created-at 1643253180152,
  :block/updated-at 1643417900837}
 {:block/name
  "dir_训练辩论, 可以得到六项重要能力:1提升民主参与的能力、2孕育社会的领导精英、3培养求知的能力与兴趣、4接触与整合多元知识、5提升批判思考的能力,6提升口语传播能力等。",
  :block/created-at 1645774683529,
  :block/updated-at 1645774683529}
 {:block/name
  "dir_训练辩论, 可以得到六项重要能力_1提升民主参与的能力、2孕育社会的领导精英、3培养求知的能力与兴趣、4接触与整合多元知识、5提升批判思考的能力,6提升口语传播能力等。",
  :block/created-at 1643171779172,
  :block/updated-at 1643172224992}
 {:block/name "dir_话语权即政治, 表达出的话语即政治. 是你很重要的权力!",
  :block/created-at 1643159753313,
  :block/updated-at 1643159753362}
 {:block/name "dir_说服他人, 有以下几种方法",
  :block/created-at 1643172334026,
  :block/updated-at 1643172339117}
 {:block/name
  "dir_辩论, 本质目的不是为了说服对方, 而是为了拉拢第三方听众的数量, 扩大自己的_盟友_. → 即, 将_中立者_转化为_支持者_; 将_反对者_转化为_中立者_.",
  :block/created-at 1643165771954,
  :block/updated-at 1643166095393}
 {:block/name
  "dir_辩题可分为三大类:事实, 价值, 政策。这三者存在着一种层级关系 -_ 做出的_政策_, 须有_价值判断_做支撑;  而_价值判断_, 由_客观事实带来的后果_为证明.",
  :block/created-at 1645774683529,
  :block/updated-at 1645774683529}
 {:block/name
  "dir_辩题可分为三大类_事实, 价值, 政策。这三者存在着一种层级关系 -_ 做出的_政策_, 须有_价值判断_做支撑;  而_价值判断_, 由_客观事实带来的后果_为证明.",
  :block/created-at 1643167268935,
  :block/updated-at 1643168124356}
 {:block/name "dir_这些路不是用来局限住你的,而只意味着提供你一些选择的途径. 没有创新精神的人永远也只能是一个执行者。",
  :block/created-at 1643163549626,
  :block/updated-at 1643163935669}
 {:block/name "dir_追取晋升, 这恰恰是一个人雄心的反映.",
  :block/created-at 1642994252974,
  :block/updated-at 1642994253038}
 {:block/name "doing",
  :block/created-at 1642224014410,
  :block/updated-at 1642224014410}
 {:block/name "done",
  :block/created-at 1642224014410,
  :block/updated-at 1642224014410}
 {:block/name "egw ",
  :block/created-at 1642668308765,
  :block/updated-at 1642668308765}
 {:block/name "favorites",
  :block/created-at 1642668308766,
  :block/updated-at 1642668308766}
 {:block/name "feb 11th, 2022",
  :block/created-at 1644537600000,
  :block/updated-at 1644537600000}
 {:block/name "feb 12th, 2022",
  :block/created-at 1644624000000,
  :block/updated-at 1644624000000}
 {:block/name "feb 14th, 2022",
  :block/created-at 1644796800000,
  :block/updated-at 1644796800000}
 {:block/name "feb 7th, 2022",
  :block/created-at 1644192000000,
  :block/updated-at 1644192000000}
 {:block/name "feb 8th, 2022",
  :block/created-at 1644278400000,
  :block/updated-at 1644278400000}
 {:block/name "feb 9th, 2022",
  :block/created-at 1644364800000,
  :block/updated-at 1644364800000}
 {:block/name "importan",
  :block/created-at 1645774683528,
  :block/updated-at 1645774683528}
 {:block/name "important",
  :block/created-at 1642668308766,
  :block/updated-at 1642668308766}
 {:block/name "in-progress",
  :block/created-at 1642224014410,
  :block/updated-at 1642224014410}
 {:block/name "insight",
  :block/created-at 1645774683528,
  :block/updated-at 1645774683528}
 {:block/name "into",
  :block/created-at 1645774683529,
  :block/updated-at 1645774683529}
 {:block/name "jan 14th, 2022",
  :block/created-at 1642118400000,
  :block/updated-at 1642118400000}
 {:block/name "jan 21st, 2022",
  :block/created-at 1642723200000,
  :block/updated-at 1642723200000}
 {:block/name "jan 24th, 2022",
  :block/created-at 1642982400000,
  :block/updated-at 1642982400000}
 {:block/name "jan 25th, 2022",
  :block/created-at 1643068800000,
  :block/updated-at 1643068800000}
 {:block/name "jan 26th, 2022",
  :block/created-at 1643155200000,
  :block/updated-at 1643155200000}
 {:block/name "jan 27th, 2022",
  :block/created-at 1643241600000,
  :block/updated-at 1643241600000}
 {:block/name "jan 29th, 2022",
  :block/created-at 1643414400000,
  :block/updated-at 1643414400000}
 {:block/name "later",
  :block/created-at 1642224014410,
  :block/updated-at 1642224014410}
 {:block/name "now",
  :block/created-at 1642224014410,
  :block/updated-at 1642224014410}
 {:block/name "page_兴趣分两种,一种是对技术类产生兴趣, 一种是对事业类产生兴趣",
  :block/created-at 1645774683529,
  :block/updated-at 1645774683529}
 {:block/name "pages_学习中遇到的问题, 在你解决后, 必须将过程记录下来, 复盘",
  :block/created-at 1642668308765,
  :block/updated-at 1642668308765}
 {:block/name "saying",
  :block/created-at 1642668308765,
  :block/updated-at 1642668308765}
 {:block/name "test 测试学习",
  :block/created-at 1645774683529,
  :block/updated-at 1645774683529}
 {:block/name "todo",
  :block/created-at 1642224014410,
  :block/updated-at 1642224014410}
 {:block/name "wait",
  :block/created-at 1642224014410,
  :block/updated-at 1642224014410}
 {:block/name "waiting",
  :block/created-at 1642224014409,
  :block/updated-at 1642224014409}
 {:block/name "“立刻开始”or“做好准备在开始”,哪个更重要_ -- 立刻开始.",
  :block/created-at 1642668308765,
  :block/updated-at 1642668308765}
 {:block/name "一旦选错职业,就像坐上了开往_远离你内心向往方向_的火车.",
  :block/created-at 1645774683529,
  :block/updated-at 1645774683529}
 {:block/name
  "上帝给我们的是一只右(right)脚和一只左(left)脚,而不是一只正确的(right)脚和一只错误的(wrong)脚.",
  :block/created-at 1642668308765,
  :block/updated-at 1642668308765}
 {:block/name "不断发现自己的盲点, 即_不知道自己不知道_之处. 方法之一就是从别人的踩坑教训中来发现你的盲点",
  :block/created-at 1642668308765,
  :block/updated-at 1642668308765}
 {:block/name "不管是什么投资,只有在'风险'和'收益'配比的情况下('高风险'应该给你带来'高收益'),才会有人去玩。",
  :block/created-at 1642668308765,
  :block/updated-at 1642668308765}
 {:block/name "两者(两种工作)所处的_生态位_高低就不一样. 就决定了你_社会地位_的高低也不一样.",
  :block/created-at 1642668308765,
  :block/updated-at 1642668308765}
 {:block/name "二八定律表明, 最后10_的功能, 往往需要90_的成本耗费, 在投入产出比是不合算的.",
  :block/created-at 1642668308765,
  :block/updated-at 1642668308765}
 {:block/name "人生前期越嫌麻烦,越懒得学,后来就越可能你没有准备, 机会来了你也没法抓住它.",
  :block/created-at 1642668308765,
  :block/updated-at 1642668308765}
 {:block/name
  "人的精力和时间, 只会花在两种地方上_ 1.要么是第二曲线, 第三曲线, 思维模型的升级上;  2.要么是吃喝玩乐, 电脑游戏上面.",
  :block/created-at 1642668308766,
  :block/updated-at 1642668308766}
 {:block/name "人的魅力来源于看不透, 和难以预测, 这些心理学",
  :block/created-at 1644651437220,
  :block/updated-at 1644651437261}
 {:block/name "你作为创作者, 导演和编剧本人, 要思考这几个问题_",
  :block/created-at 1644651089701,
  :block/updated-at 1644651089737}
 {:block/name
  "你公司自己的投资回报率, 你经营时亏不亏, 对收购方b公司来说没有意义. b公司只看他买下你公司后, 他自己赚不赚, 他的新的投资回报率变成多少_",
  :block/created-at 1642668308765,
  :block/updated-at 1642668308765}
 {:block/name "你所做的事,都只是暂时的。你要利用他们来进入下一个你想去的环节. 前一个目标对你只不过是敲门砖而已.",
  :block/created-at 1642668308765,
  :block/updated-at 1642668308765}
 {:block/name "你经营这公司时, 你的roi对b不重要, b只看, 他买下你的公司后, 他新的roi会变成多少_",
  :block/created-at 1642668308766,
  :block/updated-at 1642668308766}
 {:block/name "你越逃避学习复杂专业有难度的学科专业,你也就越把自己推入底层茫茫人海中的,没有门槛.",
  :block/created-at 1642668308765,
  :block/updated-at 1642668308765}
 {:block/name
  "借助_钱_的势能 _你的首要任务就是拼项目、签合同,你首先要想尽办法给公司挣钱,而不是只考虑替公司省钱,不能舍本逐末",
  :block/created-at 1642668308766,
  :block/updated-at 1642668308766}
 {:block/name "借环境, 来塑造人物的方法",
  :block/created-at 1645774683529,
  :block/updated-at 1645774683529}
 {:block/name "公务员",
  :block/created-at 1642668308766,
  :block/updated-at 1642668308766}
 {:block/name "关于_时间_的古人云",
  :block/created-at 1642668308766,
  :block/updated-at 1642668308766}
 {:block/name "兴趣",
  :block/created-at 1645774683528,
  :block/updated-at 1645774683528}
 {:block/name "原则_ 00 我的价值观架构, 认知库, 记录的基本原则",
  :block/created-at 1642668308765,
  :block/updated-at 1642668308765}
 {:block/name "发挥",
  :block/created-at 1645774683528,
  :block/updated-at 1645774683528}
 {:block/name "受启发 _ 人新的想法",
  :block/created-at 1642668308765,
  :block/updated-at 1642668308765}
 {:block/name "受启发 _ 人新的想法, 是看了其他东西后被刺激, 启发出来的.",
  :block/created-at 1642668308766,
  :block/updated-at 1642668308766}
 {:block/name "启发出来的.",
  :block/created-at 1642668308766,
  :block/updated-at 1642668308766}
 {:block/name "品味",
  :block/created-at 1645774683528,
  :block/updated-at 1645774683528}
 {:block/name "国家职业资格证书, _准入类_, 与_水平评价类_ 区别",
  :block/created-at 1642668308766,
  :block/updated-at 1642668308766}
 {:block/name "场景的任务",
  :block/created-at 1645774683529,
  :block/updated-at 1645774683529}
 {:block/name "复盘 _ 要不断的复盘, 要不断地分析自己工作的流程,改善流程",
  :block/created-at 1642668308766,
  :block/updated-at 1642668308766}
 {:block/name "天下大势,归根到底其实就取决于_关键人的关键认知_",
  :block/created-at 1642668308765,
  :block/updated-at 1642668308765}
 {:block/name "好的电影, 能够提出重要的问题",
  :block/created-at 1645774683529,
  :block/updated-at 1645774683529}
 {:block/name "如何判断自己是否适合一份职业_",
  :block/created-at 1642668308765,
  :block/updated-at 1642668308765}
 {:block/name
  "导演每时每刻都要牢记, 一定要保护自己对电影的设想. 否则只要他放松信念和标准, 拍出来的电影就很可能面目全非。",
  :block/created-at 1645774683528,
  :block/updated-at 1645774683528}
 {:block/name "工具人的价值上限 -_ 工具人的最高价值, 也不会超过_该工具所能给你带来的上限功能, 所值的价值_本身.",
  :block/created-at 1642395500978,
  :block/updated-at 1642562174915}
 {:block/name "工具人的命运 -_ 被 ai 取代",
  :block/created-at 1642668308765,
  :block/updated-at 1642668308765}
 {:block/name "工具人的命运_ 职业病",
  :block/created-at 1642668308765,
  :block/updated-at 1642668308765}
 {:block/name "工具人的命运_ 被困在原路径里面",
  :block/created-at 1642668308766,
  :block/updated-at 1642668308766}
 {:block/name "工具人的命运和归宿 -_ 变成某事者手中的工具",
  :block/created-at 1642668308765,
  :block/updated-at 1642668308765}
 {:block/name "工具人的损失 -_ 丧失发展头脑的宝贵机会",
  :block/created-at 1642668308765,
  :block/updated-at 1642668308765}
 {:block/name "工具人的损失 -_ 没对收入进行_风险分散_",
  :block/created-at 1642668308766,
  :block/updated-at 1642668308766}
 {:block/name "工具人的损失 -_ 缺乏意义感",
  :block/created-at 1642668308766,
  :block/updated-at 1642668308766}
 {:block/name "工具比人低 _ 工具创造出来就是给人用的, 所以不存在_高级_或_门槛_这种东西的.",
  :block/created-at 1642668308765,
  :block/updated-at 1642668308765}
 {:block/name "建立的方法 _ 我自己的方法论 -- 关于如何建立我自己的_价值观_和_方法论框架_",
  :block/created-at 1642668308765,
  :block/updated-at 1642668308765}
 {:block/name "建造师",
  :block/created-at 1642668308766,
  :block/updated-at 1642668308766}
 {:block/name "必须要把一部分时间, 留给“不得不浪费”的事情上, 作为_时间损失账户_.",
  :block/created-at 1642668308765,
  :block/updated-at 1642668308765}
 {:block/name "把案例学习当哑铃, 你的目的不是哑铃, 而是锻炼你肌肉(大脑思维认知)",
  :block/created-at 1642668308766,
  :block/updated-at 1642668308766}
 {:block/name "拒绝,是你表达自己职业意愿的一个机会。",
  :block/created-at 1645774683529,
  :block/updated-at 1645774683529}
 {:block/name "拒绝,是你表达自己职业意愿的一个机会。/into",
  :block/created-at 1645774683528,
  :block/updated-at 1645774683528}
 {:block/name "拒绝，是你表达自己职业意愿的一个机会。",
  :block/created-at 1645774683529,
  :block/updated-at 1645774683529}
 {:block/name "攻心 _ 让观众对主角的命运产生关心",
  :block/created-at 1645774683528,
  :block/updated-at 1645774683528}
 {:block/name "故事必须有_起承转合_",
  :block/created-at 1644652735669,
  :block/updated-at 1644652817839}
 {:block/name "故事必须起承转合",
  :block/created-at 1645774683528,
  :block/updated-at 1645774683528}
 {:block/name "文风",
  :block/created-at 1642668308766,
  :block/updated-at 1642668308766}
 {:block/name "既然那么爱学习,为何不去考研?",
  :block/created-at 1642668308765,
  :block/updated-at 1642668308765}
 {:block/name
  "既要入世_工作专业_(往下钻研, 低头行路), 也要入世_个人的生活实际与社会_(往上,抬头看天). 树的根往下扎的再深,也不带来地面上的枝繁叶茂。",
  :block/created-at 1642668308766,
  :block/updated-at 1642668308766}
 {:block/name "时间只分为两种性质_ 或花在_上岸行动_上, 或花在_对上岸没有帮助的行为_上.",
  :block/created-at 1642668308765,
  :block/updated-at 1642668308765}
 {:block/name "时间花在什么上_ _ 非_上岸_的行动, 都是幻觉",
  :block/created-at 1642668308766,
  :block/updated-at 1642668308766}
 {:block/name "明明有各种各样的图形化工具,为什么偏偏要学习命令操作 (即编程)",
  :block/created-at 1642668308766,
  :block/updated-at 1642668308766}
 {:block/name "是看了其他东西后被刺激",
  :block/created-at 1642668308765,
  :block/updated-at 1642668308765}
 {:block/name
  "最开始,大家都只有微弱的差距,似乎在一条起跑线上. 但随着时间的推移,从业年份的增长,成功概率越来越显示出它的力量!",
  :block/created-at 1642668308764,
  :block/updated-at 1642668308764}
 {:block/name "有两种人 _ 1.谋事的,  2.成为工具人的",
  :block/created-at 1642668308765,
  :block/updated-at 1642668308765}
 {:block/name "每一个赛场对于你是否_普通_或者_别致_的判断,都有不同的判定标准",
  :block/created-at 1642668308765,
  :block/updated-at 1642668308765}
 {:block/name "每个场景, 必有要它要达成的目的",
  :block/created-at 1644653288526,
  :block/updated-at 1644653288526}
 {:block/name "没有追求的_交作业型_导演",
  :block/created-at 1645774683528,
  :block/updated-at 1645774683528}
 {:block/name
  "消费者购买某产品, 必定要通过_用户之旅_的全过程. 所以不能让负责最前端内容推广的公关人, 直接承诺最后一个环节的销售成果.",
  :block/created-at 1642668308765,
  :block/updated-at 1642668308765}
 {:block/name "演员 _ 演员的成功, 远不像科学家和艺术家那样随机",
  :block/created-at 1642668308766,
  :block/updated-at 1642668308766}
 {:block/name "演进 _ 你的_认知_, 需要随时间, 事态的变化, 而不断_演进_.",
  :block/created-at 1642668308766,
  :block/updated-at 1642668308766}
 {:block/name "生意计算",
  :block/created-at 1643245512805,
  :block/updated-at 1643245752938}
 {:block/name "生活中,你真正要做的,是从头到尾,一个人掌握那种可以产生现金流的技能和产品.",
  :block/created-at 1642668308766,
  :block/updated-at 1642668308766}
 {:block/name "电影一定要表达出导演个人化的价值观",
  :block/created-at 1645774683528,
  :block/updated-at 1645774683528}
 {:block/name "看待任何事情, 要以这三点为框架来做思考_",
  :block/created-at 1644651065695,
  :block/updated-at 1644651065742}
 {:block/name "看待任何事情, 要以这三点为框架来做思考_  _important",
  :block/created-at 1645774683528,
  :block/updated-at 1645774683528}
 {:block/name "真实才会令人相信, 进而引发情感",
  :block/created-at 1644651607487,
  :block/updated-at 1644651933033}
 {:block/name "程序运行的80%的时间, 其实是花在20%的代码上,剩下80%的代码就算优化到速度无穷快,也没有意义。",
  :block/created-at 1642668308765,
  :block/updated-at 1642668308765}
 {:block/name "细节能突出人物性格",
  :block/created-at 1644651462982,
  :block/updated-at 1644651469413}
 {:block/name "网上公开能学到的教程,都没有门槛和护城河. 网上学不到的,才有真正门槛",
  :block/created-at 1642668308766,
  :block/updated-at 1642668308766}
 {:block/name "职位的边界比人的才能小 _ 你的职位高低本身受到的约束, 会限制你能力的发挥, 和视野的升级",
  :block/created-at 1642668308766,
  :block/updated-at 1642668308766}
 {:block/name
  "能在脑子里想到最终效果的东西,就不要实际再去做它们,因为你只不过是把你脑中已经知道的结果, 再在实际中重复一遍,纯属浪费人生。",
  :block/created-at 1642668308764,
  :block/updated-at 1642668308764}
 {:block/name "要做树枝, 不要做树叶 _ 要当树枝, 能复制大树的成长. 而不要当树叶! 不要_替他人做嫁衣裳_",
  :block/created-at 1642668308766,
  :block/updated-at 1642668308766}
 {:block/name "角色对故事阶段的推进, 背后必有动机支持",
  :block/created-at 1644652624276,
  :block/updated-at 1644652666544}
 {:block/name "角色对故事阶段的推进, 背后必有动机支持; 每个场景, 必有要它要达成的目的",
  :block/created-at 1645774683528,
  :block/updated-at 1645774683528}
 {:block/name "角色扮演 _ 用“局内人”视角, 让观众更有代入感",
  :block/created-at 1645774683528,
  :block/updated-at 1645774683528}
 {:block/name "角色的台词, 都要有推动力",
  :block/created-at 1644654303611,
  :block/updated-at 1644654795057}
 {:block/name "认知,几乎是人和人之间唯一的本质差别。人是会思考的芦苇.",
  :block/created-at 1642668308765,
  :block/updated-at 1642668308765}
 {:block/name "让观众对主角的命运产生关心",
  :block/created-at 1644653365413,
  :block/updated-at 1644653365461}
 {:block/name "让观众自己体会出来, 而不要灌输告知 exposition",
  :block/created-at 1644653689088,
  :block/updated-at 1644654108566}
 {:block/name "记住_ 你不是来这里度假的!每天都要在心中牢记三个问题",
  :block/created-at 1642668308766,
  :block/updated-at 1642668308766}
 {:block/name "赛道抬人 _ 每一个赛场对于你是否_普通_或者_别致_的判断,都有不同的判定标准。",
  :block/created-at 1642668308765,
  :block/updated-at 1642668308765}
 {:block/name "进入是为了离开_ 进入现在这个阶段, 是为了得到进入下一个阶段的敲门砖",
  :block/created-at 1642668308766,
  :block/updated-at 1642668308766}
 {:block/name "追取晋升, 这恰恰是一个人雄心的反映.",
  :block/created-at 1645774683528,
  :block/updated-at 1645774683528}
 {:block/name "逐渐释放信息给观众",
  :block/created-at 1644651248950, 
  :block/updated-at 1644651249008}]
