
.my1 {
  font-size: 0.7em;    /* 设置my1类的 字号大小 */
  background-color: rgb(230, 230, 230);
  border-style: solid;
  border-color: rgb(139, 139, 139);
  border-width: 1px;
  padding: 10px ;
}


.title {
  color:#2c38ba;
}




